.text{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 50px;
    .head{
font-size: 35px;
    }
    .textMain{
font-size: 22px;
color: #b2b2b2;
padding-right: 10px;
    }
}